.c-title {
  text-align: center;
}
@media (min-width: 768px) {
  .c-title {
    width: 52%;
    margin-left: auto;
    margin-right: auto;
  }
}
.c-title__title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .c-title__title {
    font-size: 2rem;
    line-height: 2.4375rem;
  }
}
.c-title__subtitle {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .c-title__subtitle {
    font-size: 0.9375rem;
    line-height: 1.375rem;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .c-img-text__mobile-img {
    display: none;
  }
  .c-img-text img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 767px) {
  .c-img-text__image {
    display: none;
  }
  .c-img-text img {
    margin: 10px auto;
    display: block;
    width: 172px;
  }
}
.c-img-text__title {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
}
@media (min-width: 768px) {
  .c-img-text__title {
    font-size: 2rem;
    line-height: 2.4375rem;
    text-align: left;
  }
}
.c-img-text__subtitle {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  .c-img-text__subtitle {
    font-size: 0.9375rem;
    line-height: 1.375rem;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .c-img-text__wrapper {
    display: flex;
  }
  .c-img-text__titles {
    align-self: center;
    padding-right: 8%;
    flex-basis: 60%;
  }
  .c-img-text__image {
    flex-basis: 40%;
  }
}

.c-img-banner {
  position: relative;
}
.c-img-banner img {
  width: 100%;
  max-width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .c-img-banner img {
    height: 378px;
  }
}
.c-img-banner__text {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 61%;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
}
@media (min-width: 768px) {
  .c-img-banner__text {
    width: 100%;
    font-size: 2rem;
    line-height: 3.5625rem;
    left: 6%;
  }
}

.c-plan-card {
  margin: 10px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  font-family: "Montserrat", sans-serif;
}
.c-plan-card__wrapper {
  padding: 8px;
}
.c-plan-card__img {
  margin-bottom: 23px;
}
.c-plan-card__img img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-plan-card__txt-wrapper {
  padding: 0 20px 20px 20px;
}
.c-plan-card__title {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 700;
  color: #000;
}
.c-plan-card__subtitle {
  color: #425466;
  font-size: 0.75rem;
  line-height: 1.4375rem;
  margin-bottom: 0;
}

.c-hero {
  height: 100vh;
  position: relative;
  background-image: url("home-hero.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.c-hero::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.c-hero__wrapper {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-hero__titles {
  text-align: center;
  margin-top: 40px;
}
.c-hero__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.0625rem;
  margin-bottom: 72px;
}
@media (min-width: 1200px) {
  .c-hero__title {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.c-hero__title-color {
  color: #3F0A72;
}
@media (min-width: 768px) {
  .c-hero__title {
    font-size: 3.25rem;
    line-height: 3.9375rem;
  }
}
.c-hero__subtitle {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .c-hero__subtitle {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .c-hero__subtitle {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
.c-hero__download {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-hero__button {
  text-align: center;
  padding-bottom: 60px;
}
.c-hero__button a {
  color: #3F0A72;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.c-trusted-carousel {
  background-color: #F7F7F9;
  padding: 40px 28px;
}
@media (min-width: 768px) {
  .c-trusted-carousel {
    padding: 62px 120px;
  }
}
.c-trusted-carousel__title {
  font-size: 1.375rem;
  line-height: 1.6875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .c-trusted-carousel__title {
    font-size: 2rem;
    line-height: 2.4375rem;
  }
}
.c-trusted-carousel .owl-dots {
  text-align: center;
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  width: 60% !important;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .c-trusted-carousel .owl-dots {
    margin-top: 60px;
  }
}
.c-trusted-carousel .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: #ECE7F3;
  border-radius: 50%;
}
.c-trusted-carousel .owl-dots .owl-dot.active span {
  background-color: #3F0A72 !important;
  border-color: #3F0A72 !important;
  color: #3F0A72 !important;
}

/*c-opinion*/
@media (min-width: 768px) {
  .c-opinion__logo {
    padding: 0 20px;
  }
  .c-opinion__wrapper {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .c-opinion {
    margin-bottom: 20px;
  }
}
.c-opinion__logo {
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .c-opinion__logo {
    text-align: center;
  }
}
.c-opinion__text {
  margin-bottom: 18px;
}
.c-opinion__author {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .c-opinion__author {
    justify-content: center;
  }
}
.c-opinion__author p {
  margin-bottom: 0;
  margin-left: 18px;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #3F0A72;
  font-weight: 700;
}
@media (min-width: 768px) {
  .c-opinion--logo-right .c-opinion__logo {
    text-align: right;
  }
  .c-opinion--logo-right .c-opinion__text {
    text-align: right;
  }
  .c-opinion--logo-center .c-opinion__logo {
    text-align: center;
  }
  .c-opinion--logo-center .c-opinion__text {
    text-align: center;
  }
  .c-opinion--logo-left .c-opinion__logo {
    text-align: left;
  }
  .c-opinion--logo-left .c-opinion__text {
    text-align: left;
  }
}

/*c-partners-carousel c-map-info*/
.c-partners-carousel {
  background-color: #F2F3F6;
  padding: 45px 20px;
  font-family: "Montserrat", sans-serif;
}
.c-partners-carousel__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .c-partners-carousel__title {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
}
.c-partners-carousel__carousel .owl-carousel img {
  height: 40px;
}

.c-map-info {
  font-family: "Montserrat", sans-serif;
  margin-top: 4px;
  font-size: 0.75rem;
  line-height: 1.375rem;
}
.c-map-info .c-title {
  margin-bottom: 20px;
}
.c-map-info .c-title--mobile {
  display: none;
}
@media (min-width: 768px) {
  .c-map-info .c-title {
    display: none;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  .c-map-info .c-title--mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  .c-map-info__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .c-map-info__info {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  .c-map-info__map {
    flex-basis: 50%;
  }
}
.c-map-info__info-office {
  text-align: center;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .c-map-info__info-office {
    text-align: left;
  }
}
.c-map-info__info-office-title {
  font-weight: 700;
}
.c-map-info__info-office-address span {
  display: block;
}